
html, body{
    height: 100%;
/*    background-image: url("../images/dice.jpeg");
    background-size: 100%;*/

}

header{
    background: grey;
    padding: 30px;
    text-align: center;
    color: white;
}

.vertical-center {
  height:10%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
                           /* reset the font property */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.buttons{
    margin-top: 30px;
    margin-left: 10px;
    padding: 12px;
    border-radius: 25px;
}

.dice{
    margin: 5px;
    width: 128px;
    height: 128px;

}